#header {
    position: absolute;
    display: flex;
    background-color: rgb(128, 128, 128);
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    height: 60px;
    justify-content: space-between;
}
h2 {
    margin: 10px
}

p {
    margin: 17.5px;
}

#addTask {
    position: absolute;
    background-color: rgb(167, 41, 41);
    left: 5%;
    width: 90%;
    height: 45px;
    border-radius: 15px;
    top: 70px;
}

#addTask-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bolder;
}

#addTask-logo {
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: 75%;
    top: 15%;
    background-color: rgb(36, 36, 36);
}

.task {
    position: absolute;
    width: 100%;
    height: 45px;
    background-color: rgb(116, 116, 116);
    border-radius: 15px;
    
}

input[type="text"] {
    background-color: rgb(116, 116, 116);
    border: none;
    position: absolute;
    top: 12.5px;
    left: 5px;
    font-size: 1.1rem;
    font-weight: bolder;
    width: 70%;
}

/* input[type="text"]: {
    border: none;
} */

input[type="checkbox"] {
    position: absolute;
    left: 75%;
    top: 5px;
    width: 30px;
    height: 30px;
}