*{
    margin:0px;
    padding:0px;
    
}

#ui{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#upperbar{
    position:sticky;
    display: flex;
    flex-direction: row;
    order: 3;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: darkcyan;
    align-items: center;
}

h1{
    position: relative;
    top: 20px;
    width: 100%;
    text-align: center;
}
.link{
    width: 150px;
    height: 100%;
    order: 2;
    background-color: rgb(141, 142, 142);
    
}
#links{
    width: 180px;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
#contactButton{
    width: 90px;
    height: 60%;
    order: 3;
    border: 1px outset black;
    border-radius: 15px;
    background-color: blue;
    color: aliceblue;
    text-align: center;
    padding-top: 4px;
}
a {
    margin: 3px;
    color: black;
    font-weight: 900;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color:blue
}
#flexNFTs{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 210px;
    top: 30px;
    background-color: rgb(194, 194, 194);
    padding: 3px;
}
.NFT{
    height: 200px;
    width: 80px;
    margin: 5px;
    border-radius: 35px;
    object-fit: cover;
    
}
main{
    position: relative;
    display: flex;
    top: 30px;
    width: 100%;
    flex-wrap: wrap;
}
#subheader {
    position: relative;
    display: flex;
    background-color: darkcyan;
    height: 25px;
    
}
