*{
    padding: 0%;
    margin: 0%;
    background-color: black;
}

header {
    position: absolute;
    display: flex;
    // display: flex;
    height: 40px;
    width:100%;
    background: linear-gradient(180deg, rgba(2,0,36,1) 11%, rgba(9,9,121,1) 84%, rgba(0,134,255,1) 100%);
}



.section-A {
    position: absolute;
    display: flex;
    width:  80%;
    left: 10%;
    height: 40%;
}
