* {
    padding: 0;
    margin: 0;
    font-family: 'Signika', sans-serif;
    color: #FFF;
    text-shadow:
        -0.5px -0.5px 0 #000,
        0.5px -0.5px 0 #000,
        -0.5px 0.5px 0 #000,
        0.5px 0.5px 0 #000;
}

.ui {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(50, 50, 50, 1);

    z-index: 0;
}
.spel{
    position: relative;
    left: 4%;
    top: 4%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

}
.veldje{
    position: absolute;
    top: 2%;
    left: 2%;
    height: 60px;
    width: 60px;
    text-align: center;
    background-color: rgba(0, 200, 200, 1);
}
.balkje{
position: relative;
    top: 10px;
    left: 700px;
    width: 250px;
    height: 25px;
}

.submit{
position: absolute;
    top: 10px;
    left: 850px
}
.start{
position: absolute;
    top: 10px;
    left: 920px
}
#speler{

    width: 250px;
    height: 25px;
}
#kleur{

    width: 250px;
    height: 25px;
}
.pion{
position: absolute;
top: 23px;
left: 23px;
width: 12px;
height: 12px;
background-color: rgba(200, 0, 0, 1);
border: 2px solid black;
}

.notify{
position: absolute;
top: 600px;
left: 750px;

}

.dice{
position: absolute;
top: 570px;
left: 750px;
visibility: hidden;
}