*{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

#pianobox{
    position: absolute;
    display: grid;
    top: 40%;
    width: 100%;
    height: 300px;
    grid-template-columns: repeat(140, 40px);
    grid-template-rows: 1fr 1fr;
    overflow-x: scroll;
}
.keyWhite{
    position: relative;
    background-color: white;
}
.keyBlack{
    position: relative;
    background-color: black;
}
.keyWhite:active{
    background-color: blue;
}
.keyBlack:active{
    background-color: blue;
}
.KBSelect{
    color: blue;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 30%;
    
}

.wkeyText{
    position: absolute;
    top: 90%;
    width: 80px;
}

.bkeyText{
    position: absolute;
    top: 40%;
    width: 40px;
    color: white;
    
}

